.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log、
.history

tests/**/coverage/
tests/e2e/reports

unpackage/**
# Editor directories and files
.idea
.vscode
.hbuilderx
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.log
.vite/**

package-lock.json
yarn.lock
**/auto-imports.d.ts
